@import 'core/settings';
@import 'core/typography';
@import 'components/form-edit';
@import 'components/header-edit';
@import 'components/card-edit';



body {
	background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
	height: 100vh;
	margin: 0;
}
