<section class="section__card">
        <div class="section__card-button">
            <button class="reset"><i class="far fa-trash-alt icon-reset"></i>Reset</button>
        </div>
        <div class="section__card-content">
            <div class="description">
                <div class="rectangle"></div>
                <h1 class="h1-description">Nombre Apellido</h1>
                <p class="text-description">Front-End developer</p>
            </div>
            <div class="profile-pic"></div>
            <div class="social-media">
                <ul class="social-media__list">
                    <li class=" contact-list__tlf list__item--tel"></li>
                    <li class=" contact-list__mail list__item--mail"></li>
                    <li class="contact-list__linkedin list__item--linkedin"></li>
                    <li class=" contact-list__github list__item--github"></li>
                </ul>
            </div>
            <div class="skills">
                <ul class="skills__list">
                    <!-- <li class="skill list__item--html"></li>
                    <li class="skill list__item--css"></li>
                    <li class="skill list__item--react"></li> -->
                </ul>
            </div>
        </div>
    </section>
