<section class="section__card">
        <div class="section__card-button">
            <button class="reset"><i class="far fa-trash-alt"></i>Reset</button>
        </div>
        <div class="section__card-content">
            <div class="description">
                <h1>Nombre Apellido</h1>
                <p>Front-End developer</p>
            </div>
            <div class="profile-pic">
                <img src="" alt="">
            </div>
            <div class="social-media">
                <ul>
                    <li>
                        <i class="fas fa-mobile-alt"></i>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i>
                    </li>
                    <li>
                        <i class="fab fa-github-alt"></i>
                    </li>
                </ul>
            </div>
            <div class="skills__list">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Gulp</li>
                </ul>
            </div>    
        </div>
    </section>