<section class="section-form">
    <div class="section-form__container"> 
        <form action="">
            <div class="section-form__fieldset-container">
                <fieldset class="section-form__fieldset-container--design">
                        <h2>Diseña</h2>
                        <div class="colors">
                            <h3>Colores</h3>
                            <ul>
                                <li>
                                    <label for="colors" class="colors">
                                      <input type="radio" id="colors" value="cold" name="colors">
                                      <div class="colors__list"></div>
                                      <div class="colors__list"></div>
                                      <div class="colors__list"></div>
                                    </label>
                                </li>
                                <li>
                                    <label for="colors" class="colors">
                                      <input type="radio" id="colors" value="warm" name="colors">
                                      <div class="colors__list"></div>
                                      <div class="colors__list"></div>
                                      <div class="colors__list"></div>
                                    </label>
                                </li>
                                <li>
                                    <label for="colors" class="colors">
                                      <input type="radio" id="colors" value="formal" name="colors">
                                      <div class="colors__list"></div>
                                      <div class="colors__list"></div>
                                      <div class="colors__list"></div>
                                    </label>
                                </li>          
                            </ul>
            
                        </div>
                        
                        <div class="fonts">
                                <h3>Fuentes</h3>
                                <ul>
                                    <li>
                                        <label for="fonts" class="fonts">
                                          <input type="radio" id="fonts" value="cold" name="fonts">
                                          <p class="font-ubuntu">Ubuntu</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="fonts" class="fonts">
                                          <input type="radio" id="fonts" value="warm" name="fonts">
                                          <p class="font-comic">Comic Sans</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="fonts" class="fonts">
                                          <input type="radio" id="fonts" value="formal" name="fonts">
                                          <p class="font-monserrat">Monserrat</p>
                                        </label>
                                    </li>          
                                </ul>
                
                            </div>  

                </fieldset>
                <fieldset>

                </fieldset>
                <fieldset>

                </fieldset>

            </div>
        </form>
    </div>
</section>