<section class="section-form">
  <div class="section-form__container">
    <form action="">
      <div class="section-form__fieldset-container section-form__fieldset-container--design">
        <fieldset class="section-form__subsection">
          <div class="collapsible">
            <div class="collapsible__clickable">
              <div class="collapsible__clickable-title">
                <i class="far fa-object-ungroup h2-icon"></i>
                <h2 class="h2">Diseña</h2>
              </div>
              <div class="collapsible__clickable-icons">
                <i class="fas fa-angle-down icon-down"></i>
                <i class="fas fa-angle-up icon-up"></i>
              </div>
            </div>
            <div class="collapsible__content">
              <div class="colors">
                <h3 class="h3">Colores</h3>
                <ul class="themes">
                  <li>
                    <label for="colors" class="theme">
                      <input type="radio" id="cold" value="cold" name="colors" class="radio">
                      <div class="colors__list" style="background-color:#114e4e"></div>
                      <div class="colors__list" style="background-color:#438792;"></div>
                      <div class="colors__list" style="background-color: #a2deaf"></div>
                    </label>
                  </li>
                  <li>
                    <label for="colors" class="theme">
                      <input type="radio" id="warm" value="warm" name="colors" class="radio">
                      <div class="colors__list" style="background-color: #420101"></div>
                      <div class="colors__list" style="background-color: #bd1010"></div>
                      <div class="colors__list" style="background-color: #e95626"></div>
                    </label>
                  </li>
                  <li>
                    <label for="colors" class="theme">
                      <input type="radio" id="formal" value="formal" name="colors" class="radio">
                      <div class="colors__list" style="background-color: #3e5b65"></div>
                      <div class="colors__list" style="background-color: #dfe5eb"></div>
                      <div class="colors__list" style="background-color: #a0c0cf"></div>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="fonts">
                <h3 class="h3">Fuentes</h3>
                <ul class="fonts___list">
                  <li>
                    <label for="fonts" class="fonts">
                      <input type="radio" id="ubuntu" value="ubuntu" name="fonts" class="radio">
                      <p class="font-ubuntu">Ubuntu</p>
                    </label>
                  </li>
                  <li>
                    <label for="fonts" class="fonts">
                      <input type="radio" id="comic" value="comic" name="fonts" class="radio">
                      <p class="font-comic">Comic Sans</p>
                    </label>
                  </li>
                  <li>
                    <label for="fonts" class="fonts">
                      <input type="radio" id="monserrat" value="monserrat" name="fonts" class="radio">
                      <p class="font-monserrat">Monserrat</p>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="collapsible">
            <div class="collapsible__clickable">
              <div class="collapsible__clickable-title">
                <i class="far fa-keyboard h2-icon"></i>
                <h2 class="h2">Rellena</h2>
              </div>
              <div class="collapsible__clickable-icons">
                  <i class="fas fa-angle-down icon-down"></i>
                  <i class="fas fa-angle-up icon-up"></i>
              </div>
            </div>
            <div class="collapsible__content">
              <div class="collapsible__content-form">
                <label for="name" class="form-label">Nombre completo</label>
                <input type="text" name="name" id="name" placeholder="Ej: Sally Jill" class="form-input">
              </div>
              <div>
                <label for="puesto" class="form-label">Puesto</label>
                <input type="text" name="puesto" id="puesto" placeholder="Ej: Front-end unicorn" class="form-input">
              </div>
              <div>
                <div class="container__btn-img">
                  <label for="imagen" class="form-label">Imagen de Perfil</label>
                  <button class="btn--img">Añadir Imagen</button>
                </div>
                <div class="subirArchivo"></div>
              </div>
              <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" placeholder="Ej: sally-hill@gmail.com" class="form-input">
              </div>
              <div>
                <label for="phone" class="form-label">Teléfono</label>
                <input type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" class="form-input">
              </div>
              <div>
                <label for="linkedin" class="form-label">Linkedin</label>
                <input type="" name="linkedin" id="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" class="form-input">
              </div>
              <div>
                <label for="github" class="form-label">Github</label>
                <input type="" name="github" id="github" placeholder="Ej: @sally-hill" class="form-input">
              </div>
              <div>
                <p>Habilidades(máximo 3)</p>
              </div>
              <div>
                <label for="html">
                  <input id="html" type="checkbox" value="" name="html" class="form-input">
                  HTML
                </label>
              </div>
              <div>
                <label for="css">
                  <input id="css" type="checkbox" value="" name="css" class="form-input">
                  CSS
                </label>
              </div>
              <div>
                <label for="react">
                  <input id="react" type="checkbox" value="" name="react" class="form-input">
                  React
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="collapsible">
            <div class="collapsible__clickable">
              <div class="collapsible__clickable-title">
                <i class="fas fa-share-alt h2-icon"></i>
                <h2 class="h2">Comparte</h2>
              </div>
              <div class="collapsible__clickable-icons">
                  <i class="fas fa-angle-down icon-down"></i>
                  <i class="fas fa-angle-up icon-up"></i>
              </div>
            </div>
            <div class="collapsible__content">
              <button class="collapsible__content-button"><i class="far fa-address-card"></i>Crear tarjeta</button>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</section>
