<main class="page__main">
    <div class="main__container">
        <h1 class="main__title">Crea tu tarjeta de visita
        </h1>
        <p class="main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda
        </p>
        <ul class="main__icons">
            <li class="main__item diseña"><i class="icon far fa-object-ungroup"></i>Diseña</li>
            <li class="main__item rellena"><i class="icon far fa-keyboard"></i>Rellena</li>
            <li class="main__item comparte"><i class="icon fas fa-share-alt"></i>Comparte</li>
        </ul>
        <a class="link__other"href="">
            <div class="btn__comenzar" href="#">Comenzar</div>
        </a>
    </div>
</main>
