<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main-Page Awesome Profile Cards</title>
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans:400,600|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
       crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <div class="main">
        <partial src="_header.html"></partial>
        <partial src="_main.html"></partial>
    </div>
    <partial src="_footer.html"></partial>
  </div>
</body>
</html>
