<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Boobstrap</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans:400,600|Ubuntu" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

    <partial src="_header.html" label="Header"></partial>
    <partial src="_form-edit.html" label="Form"></partial>
   
</body>
</html>
