.section__card {
  background: linear-gradient(to bottom, $color-silver, $color-pale-grey);
  padding: 10px 35px 30px 45px;
}

.reset {
  border-radius: 15px;
  width: 75px;
  height: 30px;
  border: 1px solid $color-white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $font-family-open;
  color: $color-gunmetal;
  margin-bottom: 20px;
}

.icon-reset {
  margin-right: 10px;
}

.section__card-content {
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  background-color: $color-white;
}

.description {
  padding: 20px 14px 10px 20px;
  position: relative;
}

.h1-description {
  font-size: 18px;
  color: $color-dark-green-blue;
  font-family: $font-family-comic;
  font-weight: 700;
  margin: 0;
}

.text-description {
  font-size: 16px;
  font-family: $font-family-comic;
  color: $color-gunmetal;
  margin: 0;
}

.social-media__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 10px 0 10px 20px;
}

.social-media__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid $color-hospital-green;
  color: $color-dark-green-blue;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.link-media {
  text-decoration: none;
}

.skills__list {
  display: flex;
  list-style: none;
  border-top: 2px solid $color-dirty-blue;
  padding: 0 0 0 5px;
  margin: 0;
}

.skill {
  border-radius: 4px;
  background-color: $color-dirty-blue;
  color: $color-white;
  font-size: 13px;
  font-family: $font-family-open;
  text-transform: uppercase;
  padding: 0 4px;
  margin: 10px 5px;
}

#img-selector {
  display: none;
}

.profile-pic {
  width: 100%;
  height: 200px;
  background: url('https://www.puzzlepassion.com/wp-content/uploads/2017/09/darth_vader.jpg') center center no-repeat;
  background-size: cover;
}

.rectangle {
  width: 5px;
  height: 42px;
  background-color: $color-hospital-green;
  position: absolute;
  left: 0;
  bottom: 10px;
}

.orange-palette {
  .rectangle {
    background-color: $color-tomato;
  }

  .social-media__icon {
    border: 2px solid $color-tomato;
    color: $color-dried-blood;
  }

  .skill {
    background-color: $color-rusty-red;
  }

  .h1-description {
    color: $color-dried-blood;
  }
}

.blue-palette {
  .rectangle {
    background-color: $color-light-grey-blue;
  }

  .social-media__icon {
    border: 2px solid $color-light-grey-blue;
    color: $color-slate;
  }

  .skill {
    background-color: $color-pale-grey-two;
  }

  .h1-description {
    color: $color-slate;
  }
}

.font-ubuntu {
  .h1-description {
    font-family: $font-family-ubu;
  }

  .text-description {
    font-family: $font-family-ubu;
  }
}

.font-comic {
  .h1-description {
    font-family: $font-family-comic;
  }

  .text-description {
    font-family: $font-family-comic;
  }
}

.font-monserrat {
  .h1-description {
    font-family: $font-family-mont;
  }

  .text-description {
    font-family: $font-family-mont;
  }
}
