$color-black: #000000;
$color-dirty-blue: #438792;
$color-light-khaki: #f9f4dc;
$color-white: #ffffff;
$color-hospital-green: #a2deaf;
$color-azure: #00a0f5;
$color-brownish-grey: #6b6b6b;
$color-white-two: #d8d8d8;
$color-dull-orange: #e17334;
$color-gunmetal: #54585a;
$color-pinkish-grey: #c5c5c5;
$color-silver: #bfcdd0;
$color-pale-grey: #dde9ed;
$color-dark-green-blue: #114e4e;
$color-tomato: #e95626;
$color-light-grey-blue: #a0c0cf;
$color-rusty-red: #bd1010;
$color-pale-grey-two: #dfe5eb;