// FONTS

$font-family-merriweather: 'Merriweather', serif;
$font-family-opensans: 'Open Sans', sans-serif;
$font-family-monserrat: 'Montserrat', sans-serif;
$font-family-ubuntu: 'Ubuntu', sans-serif;