// FONTS

$font-family-merri: 'Merriweather', serif;
$font-family-open: 'Open Sans', sans-serif;
$font-family-mont: 'Montserrat', sans-serif;
$font-family-ubu: 'Ubuntu', sans-serif;
$font-family-comic: "Comic Sans MS", "Chilanka", "Gaegu", sans-serif;

.font-ubuntu {
    font-family: $font-family-ubu;
    font-size: 16px;
    margin: 0;
}

.font-comic {
    font-family: $font-family-comic;
    font-size: 16px;
    margin: 0;
}

.font-monserrat {
    font-family: $font-family-mont;
    font-size: 16px;
    margin: 0;
}