// FONTS

$font-family-merri: 'Merriweather', serif;
$font-family-open: 'Open Sans', sans-serif;
$font-family-mont: 'Montserrat', sans-serif;
$font-family-ubu: 'Ubuntu', sans-serif;
$font-family-comic: "Comic Sans MS", "Chilanka", "Gaegu", sans-serif;
